apiVersion: apps/v1
kind: Deployment
metadata:
  name: meteo
spec:
  selector:
    matchLabels:
      app: meteo
  replicas: 2 # tells deployment to run 2 pods matching the template
  template:
    metadata:
      labels:
        app: meteo
    spec:
      containers:
        - name: meteo
          imagePullPolicy: Always
          image: ilysokon/meteo:__IMAGE_TAG__
          env:
            - name: NETATMO_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: meteo-secret
                  key: NETATMO_ACCESS_TOKEN
          ports:
            - containerPort: 8080