# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Build and Deploy Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      security-events: write
      deployments: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/meteo:latest

      - name: Generate dependency snapshot
        run: mvn dependency:tree -DoutputType=json -DoutputFile=dependencies.json

      - name: Submit dependency snapshot
        run: |
          if [ -f dependencies.json ]; then
            curl -X POST \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d @dependencies.json \
            https://api.github.com/repos/${{ github.repository }}/dependency-graph/snapshots
          else
            echo "dependencies.json file not found."
            exit 1
          fi

  deploy:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      contents: read
      packages: read
      deployments: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Create .kube directory
        run: |
          mkdir -p $HOME/.kube

      - name: Set up Kubeconfig
        run: |
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 --decode > $HOME/.kube/config


      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/deployment-meteo.yaml -n meteo
          kubectl rollout restart deployment meteo-deployment -n meteo